<div
  class="header-container"
>
  <div class="flex h-14 items-center justify-between px-4 py-3">
    <div class="flex items-center">
      <button
        (click)="goBack()"
        class="icon-btn-primary mr-3"
      >
        <i class="material-icons text-secondary">arrow_back</i>
      </button>
      <h1 class="text-primary text-lg font-semibold">{{ title }}</h1>
    </div>
    <div class="flex items-center">
      <button
        *ngIf="showEditButton"
        (click)="onEditClick()"
        class="icon-btn-primary ml-3"
      >
        <i class="material-icons text-secondary">edit</i>
      </button>
      <ng-content></ng-content>
    </div>
  </div>
</div>