<app-practice-layout
  [practiceTitle]="practiceTitle"
  [practiceDescription]="description"
  [steps]="practiceSteps"
  (practiceFinished)="onPracticeFinished($event)"
  [showTimer]="showTimer"
  [mainPracticeStepIndex]="mainPracticeStepIndex"
>
  <ng-template #stepContent let-step let-i="index">
    <h2 class="text-chart mb-2 text-xl font-semibold">{{ step.title }}</h2>
    <p class="mb-6 text-gray-500 dark:text-gray-400" [innerHTML]="getInstruction(step, 30, 5)"></p>
  </ng-template>
</app-practice-layout>
