<div *ngIf="!streamSelected">
  <app-page-header [title]="practiceTitle"></app-page-header>
  <div class="container mx-auto bg-gray-50 px-4 pb-24 pt-16 dark:bg-gray-900">
    <div class="rounded-xl bg-white p-6 shadow-sm dark:bg-gray-800">
      <h2 class="text-chart mb-4 text-lg font-semibold">Какой поток вы хотите наработать?</h2>
      <div class="grid grid-cols-1 gap-4">
        <button
          (click)="selectStream('creator')"
          class="bg-chart flex w-full items-center justify-center rounded-lg px-5 py-3 font-semibold text-white transition-colors hover:bg-gray-700"
        >
          <i class="material-icons mr-3">auto_awesome</i>
          В отношении Творца
        </button>
        <button
          (click)="selectStream('self')"
          class="bg-chart flex w-full items-center justify-center rounded-lg px-5 py-3 font-semibold text-white transition-colors hover:bg-gray-700"
        >
          <i class="material-icons mr-3">person</i>
          В отношении себя
        </button>
        <button
          (click)="selectStream('others')"
          class="bg-chart flex w-full items-center justify-center rounded-lg px-5 py-3 font-semibold text-white transition-colors hover:bg-gray-700"
        >
          <i class="material-icons mr-3">groups</i>
          В отношении других
        </button>
      </div>
    </div>
  </div>
</div>

<app-practice-layout
  *ngIf="streamSelected"
  [practiceTitle]="practiceTitle"
  [practiceDescription]="description"
  [steps]="steps"
  (practiceFinished)="onPracticeFinished($event)"
  [showTimer]="showTimer"
  [mainPracticeStepIndex]="mainPracticeStepIndex"
>
  <ng-template #stepContent let-step>
    <h2 class="text-chart mb-2 text-xl font-semibold">{{ step.title }}</h2>
    <p class="mb-6 text-gray-500 dark:text-gray-400" [innerHTML]="step.instruction"></p>
  </ng-template>
</app-practice-layout>
