<nav
  class="fixed bottom-0 left-0 right-0 z-50 border-t border-subtle surface-elevated shadow-lg"
>
  <div class="mx-auto flex max-w-md justify-around">
    <a
      routerLink="/home"
      routerLinkActive="text-primary-500 dark:text-slate-50"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-item"
    >
      <div
        routerLinkActive="nav-item-active"
        class="icon-btn-nav"
      >
        <i class="material-icons text-3xl">home</i>
      </div>
      <span class="mt-1 text-sm font-medium">Главная</span>
      <div routerLinkActive="nav-item-indicator-active" class="nav-indicator"></div>
    </a>
    <a
      routerLink="/notes"
      routerLinkActive="text-primary-500 dark:text-slate-50"
      class="nav-item"
    >
      <div
        routerLinkActive="nav-item-active"
        class="icon-btn-nav"
      >
        <i class="material-icons text-3xl">edit_note</i>
      </div>
      <span class="mt-1 text-sm font-medium">Заметки</span>
      <div routerLinkActive="nav-item-indicator-active" class="nav-indicator"></div>
    </a>
    <div
      class="nav-item-disabled"
    >
      <div class="icon-btn-nav">
        <i class="material-icons text-3xl">menu_book</i>
      </div>
      <span class="mt-1 text-sm font-medium">Обучение</span>
    </div>
    <a
      routerLink="/reminders"
      routerLinkActive="text-primary-500 dark:text-slate-50"
      class="nav-item"
    >
      <div
        routerLinkActive="nav-item-active"
        class="icon-btn-nav"
      >
        <i class="material-icons text-3xl">notifications</i>
      </div>
      <span class="mt-1 text-sm font-medium">Напоминания</span>
      <div routerLinkActive="nav-item-indicator-active" class="nav-indicator"></div>
    </a>
    <a
      routerLink="/diary"
      routerLinkActive="text-primary-500 dark:text-slate-50"
      class="nav-item"
    >
      <div
        routerLinkActive="nav-item-active"
        class="icon-btn-nav"
      >
        <i class="material-icons text-3xl">event_note</i>
      </div>
      <span class="mt-1 text-sm font-medium">Дневник</span>
      <div routerLinkActive="nav-item-indicator-active" class="nav-indicator"></div>
    </a>
    <a
      routerLink="/settings"
      routerLinkActive="text-primary-500 dark:text-slate-50"
      class="nav-item"
    >
      <div
        routerLinkActive="nav-item-active"
        class="icon-btn-nav"
      >
        <i class="material-icons text-3xl">person</i>
      </div>
      <span class="mt-1 text-sm font-medium">Профиль</span>
      <div routerLinkActive="nav-item-indicator-active" class="nav-indicator"></div>
    </a>
  </div>
</nav>