<app-practice-shell
  [config]="config"
  [currentStep]="currentStep"
  [currentStepIndex]="currentStepIndex"
  [totalSteps]="steps.length"
  [navigation]="navigation"
  [isVoiceEnabled]="isVoiceEnabled"
  [isRepetitionActive]="isRepetitionActive"
  [userRating]="userRating"
  [inputData]="inputData"
  [processedInstruction]="getProcessedInstruction(currentStep)"
  (homeClicked)="onHomeClick()"
  (voiceToggled)="onVoiceToggle($event)"
  (nextClicked)="onNextClick()"
  (previousClicked)="onPreviousClick()"
  (repetitionToggled)="onRepetitionToggle($event)"
  (practiceFinished)="onPracticeFinished($event)"
  (ratingChanged)="onRatingChange($event)"
  (inputChanged)="onInputChanged($event)"
></app-practice-shell>
