<div *ngIf="practice">
  <app-page-header [title]="practice.title"></app-page-header>
  <div class="container mx-auto px-4 pb-24 pt-16">
    <div class="rounded-lg bg-white p-6 shadow-md dark:bg-gray-800">
      <h2 class="mb-6 text-xl font-semibold text-gray-900 dark:text-gray-100">
        {{ practice.title }}
      </h2>
      <p class="mb-8 whitespace-pre-line text-gray-700 dark:text-gray-300">
        {{ practice.description }}
      </p>

      <div class="space-y-4">
        <button
          (click)="setAsChallenge()"
          class="flex w-full items-center justify-center rounded-lg bg-blue-500 px-6 py-3 font-semibold text-white transition-colors duration-200 hover:bg-blue-600"
        >
          <i class="material-icons mr-2">flag</i>
          <span>Намерение дня</span>
        </button>

        <button
          (click)="finishPractice()"
          class="flex w-full items-center justify-center rounded-lg bg-gray-500 px-6 py-3 font-semibold text-white transition-colors duration-200 hover:bg-gray-600"
        >
          <i class="material-icons mr-2">check</i>
          <span>Завершить</span>
        </button>
      </div>
    </div>
  </div>
</div>
