<div *ngIf="practice">
  <app-page-header [title]="practice.title"></app-page-header>
  <div class="container mx-auto px-4 pb-24 pt-16">
    <div class="rounded-lg surface-elevated p-6 shadow-md">
      <h2 class="text-primary mb-6 text-xl font-semibold">
        {{ practice.title }}
      </h2>
      <p class="text-secondary mb-8 whitespace-pre-line">
        {{ practice.description }}
      </p>

      <div class="space-y-4">
        <button
          (click)="setAsChallenge()"
          class="btn bg-blue-500 text-white w-full"
        >
          <i class="material-icons mr-2">flag</i>
          <span>Намерение дня</span>
        </button>

        <button
          (click)="finishPractice()"
          class="btn bg-gray-500 text-white w-full"
        >
          <i class="material-icons mr-2">check</i>
          <span>Завершить</span>
        </button>
      </div>
    </div>
  </div>
</div>