<div *ngIf="practice">
  <app-page-header [title]="practice.title"></app-page-header>
  <div class="container mx-auto px-4 pt-16 pb-24">
    <div class="bg-white dark:bg-gray-800 rounded-lg shadow-md p-6">
      <h2 class="text-xl font-semibold text-gray-900 dark:text-gray-100 mb-6">{{ practice.title }}</h2>
      <p class="text-gray-700 dark:text-gray-300 whitespace-pre-line mb-8">{{ practice.description }}</p>

      <div class="space-y-4">
        <button (click)="setAsChallenge()" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-semibold py-3 px-6 rounded-lg transition-colors duration-200 flex items-center justify-center">
          <i class="material-icons mr-2">flag</i>
          <span>Намерение дня</span>
        </button>

        <button (click)="finishPractice()" class="w-full bg-gray-500 hover:bg-gray-600 text-white font-semibold py-3 px-6 rounded-lg transition-colors duration-200 flex items-center justify-center">
          <i class="material-icons mr-2">check</i>
          <span>Завершить</span>
        </button>
      </div>
    </div>
  </div>
</div>